
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');


/* *{
    outline: 1px solid hotpink;
} */
body{
    background-color: black;
    padding: 3px;
    border: 4px;
    margin: 2px;
    padding-left: 50px;
    /* font-family: 'Bruno Ace SC', cursive; */
}

h1,h2{
    /* background: linear-gradient(to right, #f00, #00f);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent; */
    color: whitesmoke;
    font-family: 'Bruno Ace SC', cursive;
}

.carousel .carousel-inner{
    height:500px
    }
    .carousel-inner .carousel-item img{
    min-height:800px;
    /* //prevent it from stretch in screen size < than 768px */
    object-fit: fill;
    }
    
    @media(max-width:768px){
     .carousel .carousel-inner{ 
    height:auto
     }
    }


.h4{
    color: whitesmoke;
}

