
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');


/* *{
    outline: 1px solid hotpink;
} */
body{
    background-color: black;
    padding: 3px;
    border: 4px;
    margin: 2px;
    padding-left: 50px;
    /* font-family: 'Bruno Ace SC', cursive; */
}

h1,h2{
    /* background: linear-gradient(to right, #f00, #00f);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent; */
    color: whitesmoke;
    font-family: 'Bruno Ace SC', cursive;
}

.carousel .carousel-inner{
    height:500px
    }
    .carousel-inner .carousel-item img{
    min-height:800px;
    /* //prevent it from stretch in screen size < than 768px */
    object-fit: fill;
    }
    
    @media(max-width:768px){
     .carousel .carousel-inner{ 
    height:auto
     }
    }


.h4{
    color: whitesmoke;
}

/* .button {
    background-color: whitesmoke;
    border: none;
    color: red;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    font-family:'Bruno Ace SC', cursive;
  } */

  .bt{
    display: float;
    float: left;
    position: relative;
    top: 190px;
  }

 /* @media screen and (max-width:400px){
    .bt{
        text-align: center;
        top:2px;
    }
    /* body {
        background-image: url("images/cover.png");
        background-repeat: no-repeat; 
        background-attachment: local;
        background-size: 50% 20%; 
        background-color: aqua; 
    } */
/* } */


