
body{
    background-color: black;
    padding: 3px;
    border: 4px;
    margin: 2px;
    padding-left: 50px;
}

h1,h2{
    color:antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel .carousel-inner{
    height:500px
    }
    .carousel-inner .carousel-item img{
    min-height:800px;
    /* //prevent it from stretch in screen size < than 768px */
    object-fit: fill;
    }
    
    @media(max-width:768px){
     .carousel .carousel-inner{ 
    height:auto
     }
    }


.h4{
    color: whitesmoke;
}

